---
layout: default
title: Home
---

<div id="home">

  <h2> What is Architecture Diaries? 
  </h2>
  <p> Architecture Diaries aims to break down the architectures and designs of high-level computer systems to their core princpals and ideas. It aims to 
    serve as a reference for systems designers and practitioners.
  </p>

  <h1>Security</h1>
  <ul class="pages">
    {% for page in site.pages %}
      {% if page.categories == "security" %}
      {{ title }}
        <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  </div>